/* TABLEAU NAVIGATION*/

*{
  font-family: 'Arial', sans-serif;
  }

.navbar {
  padding-left: 8%;
  padding-right: 8%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #000;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.fleche{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}


nav {
  flex:1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;

}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;

}

.banniere{
  background-size: cover;
  background-image: linear-gradient(transparent);
  opacity: 100%;
  width: 100%;
  height: 40vh;
}

.b1 {
  background-image: url(images/banniere1.jpg);
}

.b2 {
  background-image: url(images/banniere2.jpg);
}

.b3 {
  background-image: url(https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/4/2/8/428e6b685e_50175763_microscope.jpg);
}

.b4 {
  background-image: url(https://rare-gallery.com/uploads/posts/4594637-science-large-hadron-collider-technology.jpg);

}

.b5 {
  background-image: url(images/banniere5.jpg);
}
h7 {
  color: #fff;
  font-size: 650%;
  text-align: left;
  text-shadow: 0 0 5px #000000;
}

/*ACCUEIL*/
.fond {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/fond.jpg);
  background-position: center;
  background-size: cover;
}

.contenu {
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}


.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;
}

h4{ 
  color: #fff;
  font-size: 60px;
}

h6 {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  color: #000000;
  font-size: 12px;
  padding: 13px 70px;
  width: 180 px;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}


button a {
  color: #000000;
  font-size: 12px;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  text-decoration: none;  
}
.carte{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.c1 {
  background-image: url(images/carte1.png);
}
.c2 {
  background-image: url(images/carte2.jpg);
}
.c3 {

  background-image: url(images/carte3.gif);
}
.c4 {
  background-image: url(images/carte4.jpg);
}

.carte:hover{
  transform: translateY(-10px);
}

h5{
  color: #fff;
  text-shadow: 0 0 5px #999;

}

.carte h6 {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

.carte a {
  color: #fff;
  text-shadow: 0 0 5px #999;
}

/* PAGES */

body {
  background-color: #eaf5ff ;

  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}



/*div{
  width:fit-content;
  color:rgb(255, 0, 0);
  border-radius: 4px 4px 4px 4px;
  border-color :rgb(255, 40, 0);
  border-style :dashed;
  margin-bottom: 25px;
}*/

header {
  background-color: #171c47;
  background-image: linear-gradient(#171c47 80%,#000);
  color: #fff;
  padding: 15px;
  text-align: auto;
}


h1 {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 3em;
  color: #0e1027;
  font-family:Helvetica;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
}

p {
  line-height: 1.5;
}

ul, ol {
  margin-top: 0;
  padding-left: 20px;
}


/* FLEXBOX*/

.cont {
  display: flex;
  align-items: stretch;
  justify-content: center;
}


section{
  border: solid 3px #171c47;
  background-color: #ffffff90;
  border-radius: 1em;
  padding: 1em;
  padding-top: 0%;
  margin: 1em;
  text-align: justify;
  justify-content: space-around;


}

.bout {
  border: solid 3px #171c47;
  background-color: #ffffff90;
  border-radius: 1em;
  padding: 1em;
  padding-top: 0%;
  margin: 1em;
  height: 200vh;
  width: 800px;

}

section .image-container{
  display: flex;
  align-items: stretch;
  
}

.imggauche img {
  border-radius: 10%;
  margin-top: 1em;
  width: 22em;
  height: 22em;
  padding: 1em;
  display: flex;
  align-items: center;
background-position: center;
}

.imggauche1 img {
  border-radius: 10%;
  margin-top: 1em;
  width: 22em;
  height: 22em;
  padding: 1em;
  display: flex;
  align-items: center;
background-position: center;
}

.video iframe {
  border-radius: 8%;
  margin-top: 1em;
  width: 400px;
  height: 250px;
  padding: 1em;
  display: flex;
  align-items: center;

}



.image-container img {
  margin: 0 auto;
  border-radius: 5%;
  height: 15em;
}


section h6{
  font-family:'Trebuchet MS';
  font-size: 35px;
  color: #171c47;

}

.bout h6{
  font-family:'Trebuchet MS';
  font-size: 35px;
  color: #171c47;

}


.cont li{
  padding-bottom: 0.5em;
  font-family:'Gill Sans MT';
  font-size: 25px;
  color:#171c47;
}
.cont p{
  padding-bottom: 0.5em;
  color: #090a17;
  font-family: sans-serif;
  font-size: 20px;
}

iframe{
  margin: 0 auto;
  border-radius: 1em;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: stretch;
}


table{
  text-align : center;
  width:1000px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}
.image_centrer{
  margin: auto;
  width: 10%;
  height: 10%;
}

footer {
  text-align: center;
}