/* TABLEAU NAVIGATION*/

*{margin:0;
  font-family: 'Roboto', sans-serif;
  }

.navbar {
  padding-left: 8%;
  padding-right: 8%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #000;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.fleche{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}


nav {
  flex:1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;

}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 13px;

}

.banniere{
  background-size: cover;
  background-image: linear-gradient(transparent);
  opacity: 100%;
  width: 100%;
  height: 40vh;
}

.b1 {
  background-image: url(images/banniere1.jpg);
}

.b2 {
  background-image: url(images/banniere2.jpg);
}

.b3 {
  background-image: url(images/banniere3.jpg);
}

.b4 {
  background-image: url(images/banniere4.jpg);

}

.b5 {
  background-image: url(images/banniere5.jpg);
}
h7 {
  color: #fff;
  font-size: 650%;
  text-align: left;
  text-shadow: 0 0 5px #000000;
}

/*ACCUEIL*/
.fond {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/fond.jpg);
  background-position: center;
  background-size: cover;
}

.contenu {
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}


.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
  flex-basis: 50%;
}

h4{ 
  color: #fff;
  font-size: 60px;
}

h6 {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  color: #000000;
  font-size: 12px;
  padding: 13px 70px;
  width: 180 px;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;

}

button a {
  color: #000000;
  font-size: 12px;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  text-decoration: none;
}
.carte{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.c1 {
  background-image: url(images/carte1.png);
}
.c2 {
  background-image: url(images/carte2.jpg);
}
.c3 {

  background-image: url(images/carte3.gif);
}
.c4 {
  background-image: url(images/carte4.jpg);
}

.carte:hover{
  transform: translateY(-10px);
}

h5{
  color: #fff;
  text-shadow: 0 0 5px #999;

}

.carte h6 {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}

.carte a {
  color: #fff;
  text-shadow: 0 0 5px #999;
}

/* PAGES */

body {
  background-color: #b0cefc89 ;

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*div{
  width:fit-content;
  color:rgb(255, 0, 0);
  border-radius: 4px 4px 4px 4px;
  border-color :rgb(255, 40, 0);
  border-style :dashed;
  margin-bottom: 25px;
}*/

header {
  background-color: #171c47;
  background-image: linear-gradient(#171c47 80%,#000);
  color: #fff;
  padding: 15px;
  text-align: auto;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

p {
  line-height: 1.5;
}

ul, ol {
  margin-top: 0;
  padding-left: 20px;
}



.intro{
text-align: center;
}
.titre_centrer{
text-align: center;
}
transition{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 118%;
}
body main texte li{
font-size: 118%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body main texte p {
margin-left: 5%;
margin-bottom: 5%;
}
.conclusion{
text-align: center;
font-size: 110%;
}



/* FLEXBOX*/
section{
  border: solid 1.5px #171c47;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  text-align: justify;
}

section .image-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  
}

.image-container img {
  margin: 0 auto;
  border-radius: 10%;
  height: 1em;
}

.cont {
  display: flex;
  align-items: center;
}

.boite {
  background-color: #fff;
  color: red;
  border: #000 solid 1px;
  border-radius: 5% ;
  text-align: justify;
  margin: 30px;
  padding: 1em;
}

.boite h6{
  padding-bottom: 2em;
  font-size: 22px;
  color:blue; 
  line-height: 15px;
}

.boite li{
  padding-bottom: 0.5em;
}
.boite p{
  padding-bottom: 0.5em;
}
.petit_case{
  width:81px
}
.grande_case{
  width:406px
}
table{
  text-align : center;
  width:471.6px;
  margin: auto;
  margin-top: 2%;
}
.image_centrer{
  margin: auto;
  width: 10%;
  height: 10%;
}